@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;500;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

@layer components {
    .displayHeader {
        @apply text-[96px] leading-[100%] tracking-tight
    }

    .mediumT {
        @apply font-medium leading-[160%]
    }

    .boldT {
        @apply font-bold leading-[140%]
    }
}

@layer base {
    h1 {
        @apply text-[59.3px] leading-[120%] tracking-tighter
    }

    h2 {
        @apply text-[36.65px] tracking-tighter
    }

    h3 {
        @apply text-[22.65px] tracking-tighter
    }
    h4 {
        @apply text-[16px] leading-[160%]
    }
    h5 {
        @apply text-[14px] leading-[160px]
    }
    h6 {
        @apply text-[12px] leading-[160px]
    }
}